<%- include("header") %>

<h1><%- title %></h1>

<% posts = ["salam"] %>
<% posts.forEach(function (post) { %>
    <%- include('components/post-content', { post: post }) %>
  <% }) %>

<%- include("footer") %>